<div class='container-fluid' ng-controller="CatalogCtrl as ctrl">
    <style>
        table, th, td {
            padding: 5px;
        }
        table {
            border-spacing: 5px;
        }
    </style>
    <table style="width:100%">
        <tr>
            <td ><b>Search ID or Title</b></td>
            <td>
                <input
                        type="text"
                        ng-keyup="$event.keyCode == 13 && ctrl.updateTitleOrId()"
                        ng-model="ctrl.selected"
                        typeahead="hint for hint in ctrl.hints | filter:$viewValue | limitTo:8"
                        typeahead-on-select='ctrl.onSelect($item, $model, $label)'
                        name="title_or_id"
                        id="title_or_id"
                        typeahead-editable="false"
                        class="form-control"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><legend class="sm-col-12">Product</legend></td>
        </tr>
        <tr>
            <td ><b>ID</b></td>
            <td>
                <input
                        type="text"
                        ng-keyup="$event.keyCode == 13 && ctrl.submitProduct()"
                        class="form-control"
                        name="id"
                        id="id" placeholder=""
                        ng-model="ctrl.product.Id"/>
            </td>
        </tr>
        <tr>
            <td ><b>Title</b></td>
            <td>
                <input
                        type="text"
                        ng-keyup="$event.keyCode == 13 && ctrl.submitProduct()"
                        class="form-control"
                        name="title"
                        id="title"
                        placeholder=""
                        ng-model="ctrl.product.Title"/>
            </td>
        </tr>
        <tr>
            <td ><b>Price</b></td>
            <td>
                <input
                        type="text"
                        ng-keyup="$event.keyCode == 13 && ctrl.submitProduct()"
                        class="form-control"
                        name="price"
                        id="price"
                        ng-model="ctrl.product.Price"/>
            </td>
        </tr>
        <tr>
            <td ><b>Cost</b></td>
            <td>
                <input
                        type="text"
                        ng-keyup="$event.keyCode == 13 && ctrl.submitProduct()"
                        class="form-control"
                        name="cost"
                        id="cost"
                        ng-model="ctrl.product.Cost"/>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 text-right">

            <button ng-click="ctrl.submitProduct()" class="btn btn-success" id="btn_submit">Submit Product</button>
            <!--button ng-click="ctrl.getAllProducts()" class="btn btn-success" id="btn_submit">Reload</button-->

            <button
                    ng-click="ctrl.removeProduct() && (ctrl.product = null) && angular.element('btn_submit').focus()"
                    class="btn btn-warning" id="btn_remove">Remove Product</button>

            <button
                    ng-click="ctrl.product = {'Id': null, 'Title': null, 'Price': null, 'Cost': null} && angular.element('btn_submit').focus()"
                    class="btn btn-warning" id="btn_reset">Clear Form</button>

        </div>
    </div>
</div>
